

#formfield-form-widgets-graphic_associations .row .widget div{
display: inline;
}


/* manage graphics text fields */

.template-manage-graphics .multi-widget-field .multidd-widget-checkbox{

    width: 2em;
    height: 2em;
    float:left;
    text-align:center;
    padding:.7em .3em 0;
}


.template-manage-graphics form .multi-widget-field{
    border: dashed #ccc 1px;
    background-color:#ddd;
    padding: 1em;
margin: 1em;
}

.template-manage-graphics form .multi-widget-field>*
{
  display: inline-block;
  padding:.3em;
  float: none;
  clear: none;
  }

.template-manage-graphics form  .multi-widget-field
{
    border:solid #aaa 1px;
    background-color:#eee;
    margin: .7em 0em;
}

.template-manage-graphics form .row .row .widget{
    padding: 0.7em 0.2em;
    height: 2em;
}

.template-manage-graphics form  .multi-widget-field label
{
  padding-right:0;
  display: none;
}


.template-manage-graphics form .graphicName{
width: 10em;
}

.template-manage-graphics form .graphicAssociation{
width: 30em;
}



.template-manage-graphics .multi-widget .multi-widget-field .multi-widget-checkbox input{
    float:none;
}


.template-manage-graphics .multi-widget .object-widget .label,
.template-manage-graphics .multi-widget .object-widget .object-widget-field
{
}

.template-manage-graphics .multi-widget .widget .label,
.template-manage-graphics .multi-widget .widget .widget{
    display:block;
}


.template-manage-graphics .multi-widget-buttons
{ 
clear: both;
 }


